@font-face {
  font-family: vazir;
  src: url(../assets/fonts/vazir/Vazir.ttf) format("truetype");
  src: url(../assets/fonts/vazir/Vazir.woff) format("woff");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
body {
  min-height: 100vh;
  background: url(../assets/images/experiment.jpg) fixed center no-repeat;
  background-size: cover;
  font-family: vazir;
  position: relative;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}
header {
  width: 100%;
}

header section {
  width: 100%;
  position: absolute;
  top: 10%;
  left: -50%;
  z-index: 2;
  transform: translateX(50%);
  backdrop-filter: blur(5px);
  background: #00000028;
}

.addExperiment {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opentExperimentBtn {
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: vazir;
}
.opentExperimentBtn:hover {
  opacity: 0.9;
}

.addExperimentContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0000005b;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.addExperimentContainer.active {
  display: flex;
}
.values {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  font-family: vazir;
}
.values input {
  width: 100%;
  font-family: vazir;
  border-radius: 20px;
  box-shadow: 0 0 10px #000;
  padding: 10px 20px;
}
.addExperimentBtn {
  padding: 10px 30px;
  font-family: vazir;
  box-shadow: 0 0 10px #000;
  border-radius: 20px;
}
.addExperimentBtn:active {
  opacity: 0.7;
}

main {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 0;
  padding: 0 10px;
  transform: translateX(-50%);
}

.experimentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.searchContainer {
  width: 100px;
  max-width: 400px;
  padding: 0 10px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  background-color: #eee;
  box-shadow: 0 0 30px #000;
  transition: all 0.3s linear;
}
.searchContainer.active {
  width: 100%;
}
.searchContainer .experimentName {
  display: inline-block;
  width: 30px;
  font-family: vazir;
  padding: 10px;
  background-color: transparent;
  transition: all 0.2s linear;
}
.searchContainer.active .experimentName {
  width: 100%;
}
.searchContainer button {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: red;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.searchContainer button:hover {
  color: #3f3e3b;
}
.searchContainer button:active {
  opacity: 0.7;
}
.searchContainer .alert {
  display: none;
  position: absolute;
  top: -40px;
  z-index: 3;
  padding: 5px;
  overflow: hidden;
  background-color: #ff0000;
  color: #fff;
}
.searchContainer .alert p {
  text-wrap: nowrap;
}
.searchContainer .alert.error {
  display: flex;
  width: 0;
  min-width: 200px;
  animation: alert 0.4s ease;
}
.searchContainer .alert.active {
  display: flex;
  width: 0;
  min-width: 200px;
  animation: alert 0.4s ease;
  background-color: #ffd700;
  color: #000;
}

.experiments {
  width: 100%;
  max-width: 500px;
  height: 300px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee23;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px #000;
  color: #fff;
  border-radius: 10px;
  gap: 30px;
  overflow-y: auto;
  position: relative;
}
.experiments::-webkit-scrollbar {
  width: 7px;
}
.experiments::-webkit-scrollbar-thumb {
  background-color: #000000af;
}
.experiments .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #000000;
  box-shadow: 0 0 10px #000000;
  border-radius: 20px;
  transform: translateY(0);
  animation: item 0.3s ease;
  position: relative;
}
@keyframes item {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
.experiments .item.hide {
  animation: hideItem 0.3s ease;
  display: none;
}
@keyframes hideItem {
  0% {
    display: flex;
  }
  50% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(110%);
    display: none;
  }
}
.experiments .item i {
  font-size: 25px;
  font-weight: bold;
  color: #db1471;
  cursor: pointer;
}
.experiments .item .statusContainer {
  user-select: none;
}
.experiments .item .status {
  color: #ff0000;
  cursor: pointer;
}
.experiments .item.complete .status {
  color: #00ff62;
}

.experiments .emptyContainer {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #00000073;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}
.experiments .emptyContainer.empty {
  display: flex;
}
